<h1> Stylist List </h1>
<br>
<p>*****************************************************************</p>
<div>
  <% @hair_stylists.each do |stylist|%>
  <b><p><%= stylist.name %></p></b>


  <%# <%= form_tag hair_stylist_path(stylist.id), method: "delete" do %>
    <%# <%= submit_tag "Delete #{stylist.name}" %>
  <%# <% end %>

  <br>
  <% end %>
</div>
