<h1> Your Hair Stylist List </h1>
<div id='hair_stylists_box'></div>

<script type="text/javascript">

(function() {

  const checkStatus = response =>
        (response.status === 200)
        ? Promise.resolve(response)
        : Promise.reject(new Error(response.statusText));

      const handleError = err => {
        console.error(err);
        alert('Has some issues to handle your request.');
      };
fetch('http://localhost:3000/hair_stylists.json')
.then(checkStatus)
.then(res => res.json())
.then(res => {
 const style_listbox = document.getElementById('hair_stylists_box');


res.forEach (({name, appointments}) => {
  style_listbox.innerHTML += `
  <h4> ${name}, has : <span> ${appointments.length}</span> appointments.</h4>
  `
})


})
.catch(checkStatus)

})()

</script>
