You can see the winner of the month
<br>
The Hair Stylist who has the most appointments



<font color="red" >

<h1> <%= @hairstylist.name %>  , has </h1> 
<h1> <%= @count_appointments  %> Appointments </h1>
</font>
